<h1>Ice cream order</h1>
<form (ngSubmit)="submitForm()" [formGroup]="iceCreamForm">
  <label for="customerName">Customer name:</label>
  <input id="customerName" type="text" formControlName="customerName"/>

  <label for="flavor">Flavor:</label>
  <select id="flavor" formControlName="flavor" required>
    <option></option>
    @for (flavor of flavors(); track flavor) {
    <option [value]="flavor">{{ flavor }}</option>
    }
  </select>

  <div class="toppings" formGroupName="toppings">
    <p>Toppings</p>

    <label for="first">First topping:</label>
    <input id="first" type="text" formControlName="first" required />

    <label for="second">Second topping:</label>
    <input id="second" type="text" formControlName="second" required />
  </div>

  <button type="submit" [disabled]="iceCreamForm.invalid">Submit order</button>
</form>

<h2>Value and validity</h2>
<p><strong>Form value:</strong> {{ iceCreamForm.value | json }}</p>
<p><strong>Is toppings group valid ?</strong> {{ iceCreamForm.controls.toppings.valid }}</p>
<p><strong>First topping value:</strong> {{ iceCreamForm.controls.toppings.controls.first.value }}</p>
